<div>

  <div>
    <mat-card class="form-container">
      <mat-card-content>
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
          <span>
            <h1>Login to your account</h1>
          </span>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" formControlName="email" />
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" formControlName="password" />
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit">LOGIN</button>
          <div class="forget">
            <mat-icon>lock</mat-icon>
            <a> Forget Password? </a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

</div>